{% extends "base.html" %}

{% block content %}

    <div class="menubar">
        <div class="menubuttonleft">
            Exercises
        </div>

        <div class="menubuttonright">
            Scoreboard
        </div>
    </div>

    {% if  exercises %}

        {% for exercise in exercises %}
            {% if exercise.visible %}
                {% if exercise.index % 2 == 0 %}
                    <div class="even">

                {% else %}
                    <div class="odd">
                {% endif %}

                    <h3> {{ exercise.title }} </h3>
                        {{exercise.body | safe}}
                </div>
            {% endif %}
        {% endfor %}

    {% else %}

    <div>
        <p>
            There are currently no exercises available!
        </p>
    </div>

    {% endif %}

{% endblock %}